/*
Syntax error: Undefined mixin 'bodyBackground'.
        on line 8 of /Users/tyler/Dev/js-tdd-talk/source/css/theme/template/theme.scss, in `bodyBackground'
        from line 8 of /Users/tyler/Dev/js-tdd-talk/source/css/theme/template/theme.scss

3: /*********************************************
4:  * GLOBAL STYLES
5:  *********************************************\/
6: 
7: body {
8: 	@include bodyBackground();
9: 	background-color: $backgroundColor;
10: }
11: 
12: .reveal {
13: 	font-family: $mainFont;

Backtrace:
/Users/tyler/Dev/js-tdd-talk/source/css/theme/template/theme.scss:8:in `bodyBackground'
/Users/tyler/Dev/js-tdd-talk/source/css/theme/template/theme.scss:8
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:253:in `visit_mixin'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/sass-3.2.19/lib/sass/tree/root_node.rb:20:in `render'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/compass-import-once-1.0.4/lib/compass/import-once/engine.rb:17:in `block in render'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/compass-import-once-1.0.4/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/compass-import-once-1.0.4/lib/compass/import-once/engine.rb:16:in `render'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/middleman-core-3.3.3/lib/middleman-core/renderers/sass.rb:87:in `evaluate'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/tilt-1.4.1/lib/tilt/template.rb:103:in `render'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/middleman-core-3.3.3/lib/middleman-core/core_extensions/rendering.rb:274:in `render_individual_file'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/middleman-core-3.3.3/lib/middleman-core/core_extensions/rendering.rb:155:in `render_template'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/middleman-core-3.3.3/lib/middleman-core/sitemap/resource.rb:131:in `block in render'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/activesupport-4.1.1/lib/active_support/notifications.rb:161:in `instrument'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/middleman-core-3.3.3/lib/middleman-core/util.rb:41:in `instrument'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/middleman-core-3.3.3/lib/middleman-core/application.rb:219:in `instrument'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/middleman-core-3.3.3/lib/middleman-core/sitemap/resource.rb:14:in `instrument'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/middleman-core-3.3.3/lib/middleman-core/sitemap/resource.rb:104:in `render'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/middleman-core-3.3.3/lib/middleman-core/core_extensions/request.rb:253:in `process_request'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/middleman-core-3.3.3/lib/middleman-core/core_extensions/request.rb:203:in `block in call!'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/middleman-core-3.3.3/lib/middleman-core/core_extensions/request.rb:202:in `catch'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/middleman-core-3.3.3/lib/middleman-core/core_extensions/request.rb:202:in `call!'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/middleman-core-3.3.3/lib/middleman-core/core_extensions/request.rb:188:in `call'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/rack-1.5.2/lib/rack/builder.rb:138:in `call'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/rack-1.5.2/lib/rack/urlmap.rb:65:in `block in call'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/rack-1.5.2/lib/rack/urlmap.rb:50:in `each'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/rack-1.5.2/lib/rack/urlmap.rb:50:in `call'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/rack-1.5.2/lib/rack/head.rb:11:in `call'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/rack-1.5.2/lib/rack/lint.rb:49:in `_call'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/rack-1.5.2/lib/rack/lint.rb:37:in `call'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/rack-1.5.2/lib/rack/builder.rb:138:in `call'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/rack-test-0.6.2/lib/rack/mock_session.rb:30:in `request'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/rack-test-0.6.2/lib/rack/test.rb:230:in `process_request'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/rack-test-0.6.2/lib/rack/test.rb:57:in `get'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/middleman-core-3.3.3/lib/middleman-core/cli/build.rb:255:in `render_to_file'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/middleman-core-3.3.3/lib/middleman-core/cli/build.rb:221:in `build_resource'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/middleman-core-3.3.3/lib/middleman-core/cli/build.rb:188:in `each'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/middleman-core-3.3.3/lib/middleman-core/cli/build.rb:188:in `execute!'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/middleman-core-3.3.3/lib/middleman-core/cli/build.rb:128:in `invoke!'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/thor-0.19.1/lib/thor/actions.rb:94:in `action'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/middleman-core-3.3.3/lib/middleman-core/cli/build.rb:70:in `build'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/thor-0.19.1/lib/thor/command.rb:27:in `run'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/thor-0.19.1/lib/thor/invocation.rb:126:in `invoke_command'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/thor-0.19.1/lib/thor.rb:359:in `dispatch'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/thor-0.19.1/lib/thor/base.rb:440:in `start'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/middleman-core-3.3.3/lib/middleman-core/cli.rb:72:in `method_missing'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/thor-0.19.1/lib/thor/command.rb:29:in `run'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/thor-0.19.1/lib/thor/command.rb:126:in `run'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/thor-0.19.1/lib/thor/invocation.rb:126:in `invoke_command'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/thor-0.19.1/lib/thor.rb:359:in `dispatch'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/thor-0.19.1/lib/thor/base.rb:440:in `start'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/middleman-core-3.3.3/lib/middleman-core/cli.rb:20:in `start'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/gems/middleman-core-3.3.3/bin/middleman:18:in `<top (required)>'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/bin/middleman:23:in `load'
/Users/tyler/Dev/js-tdd-talk/.bundle/ruby/2.1.0/bin/middleman:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'bodyBackground'.\A         on line 8 of /Users/tyler/Dev/js-tdd-talk/source/css/theme/template/theme.scss, in `bodyBackground'\A         from line 8 of /Users/tyler/Dev/js-tdd-talk/source/css/theme/template/theme.scss\A \A 3: /*********************************************\A 4:  * GLOBAL STYLES\A 5:  *********************************************/\A 6: \A 7: body {\A 8: 	@include bodyBackground();\A 9: 	background-color: $backgroundColor;\A 10: }\A 11: \A 12: .reveal {\A 13: 	font-family: $mainFont;"; }
